.button {
    color: white;
    font-size: 14px;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    border-radius: 2px;
    border: 1px solid #3866A3;
    background: #63B8EE;
    margin-right: 5px;
}
.button:hover {
    color: white;
    background: #468CCF;
}